#menu-logo {
    height: auto; 
    width: auto; 
    max-width: 70px; 
    max-height: 50px;
}

.navbar-inverse {
    background-color: #1f1f24;
    border-color: #1f1f24;
}

.navbar {
    margin-bottom: 0;
}

@font-face {
  font-family: 'Norwester';

  src: url('../../vendor/RBNo2Light/RBNo2Light.otf');
}

.menu-font {
    font-family: Norwester; 
    font-size: xx-large;
}

.title-font {
    font-family: Norwester;
}